server {
	listen 80;
        server_name {{ item.name }}.{{ DOMAIN }};
        return 301 https://{{ item.name }}.{{ DOMAIN }}$request_uri;
}

server {
	listen 443 ssl;
        server_name {{ item.name }}.{{ DOMAIN }};

        location / {
                proxy_pass http://{{ PUBLIC_IP }}:{{ item.port }};
        }



    ssl_certificate /etc/letsencrypt/live/{{ DOMAIN }}/fullchain.pem; # managed by Certbot
    ssl_certificate_key /etc/letsencrypt/live/{{ DOMAIN }}/privkey.pem; # managed by Certbot
    include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot

}
